body {
    background-color: #ffc0cb; /* Color rosa */
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 5px;
}